* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, simpsonfont;
}

.top-section {
	background: #1f2937;
	color: #f9faf8;
	padding: 5px 236px;
}

.header {
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
}

.header .logo {
	font-weight: bold;
	font-size: 24px;
	color: #f9faf8;
}

.links {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 16px;
	font-size: 18px;
	color: #e5e7eb;
}

a:link { text-decoration: none; }

a:visited {
	text-decoration: none;
	color: inherit;
}


a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.hero {
	display: flex;
	justify-content: space-between;
	font-family: Roboto, simpsonfont;
	padding: 115px 0px;
	/*gap: 227px;*/
}

.hero .text {
	flex: 1;
	/*margin: 120px 0px;*/
	/*padding-right: 215px*/
}

.hero .img-placeholder {
	flex: 1;	
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6d727d;
}

.hero .text .main {
	font-weight: bolder;
        font-size: 48px;
	padding-right: 31px;
	margin-bottom: 4px;
}

.hero .text .subtext {
	color: #e5e7eb;
	font-size: 18px;
	padding-right: 100px;
	margin-bottom: 16px;
}

.blue-rounded {
	background: #575bfa;
	color: #f9faf8;
	font-family: Roboto, simpsonfont;
	border-radius: 8px;
	border: 0;
}


button {
	padding: 8px 40px;
	font-weight: bold;
	font-size: 18px;
}

.info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 52px 32px;
}

.info-section-header {
	color: #1f2937;
	font-size: 36px;
	font-weight: bolder;
}

.info-section .card-container {
	display: flex;
	justify-content: space-between;
	width: 850px;
	margin: 50px 0px;
}

.card-box {
	width: 180px;
	height: 180px;
	border-radius: 16px;
	border: solid 4px #575bfa;
}

.card {
	display: flex;
	flex-direction: column;
	width: 170px;
}

.card-subtext {
	text-align: center;
	margin: 12px 0px;
	font-size: 18px;
}

.quote-section {
	background-color: #e5e7eb;
	color: #1f2937;
	padding: 135px 350px;
}

.quote-text {
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
}

.quote-source {
	font-size: 28px;
	font-weight: bold;
	text-align: end;
	padding-right: 60px;
}

.footer {
	background-color: #1f2937;
	padding: 16px;
	font-size: 20px;
	text-align: center;
	color: #f9faf8;
	padding: 45px;
}

.call-to-action-section {
	padding: 108px 235px;
}

.call-to-action {
	padding: 52px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.call-to-action-header {
	font-size: 27px;
	font-weight: bold;
}

.call-to-action-subtext {
	font-size: 20px;
}
